
<table id="game-board">
  <tr ng-repeat="h in $ctrl.getHeight() track by $index" ng-init="heightIndex = $index">
    <td ng-class="$ctrl.getClass(heightIndex, $index)" ng-repeat="w in $ctrl.getWidth() track by $index"> </td>
  </tr>
</table>

<div class="button-container">
   <button type="button" ng-hide="$ctrl.run" ng-click="$ctrl.play()">Play</button>
   <button type="button" ng-show="$ctrl.run" ng-click="$ctrl.stop()">Stop</button>
   <button type="button" ng-disabled="$ctrl.run" ng-click="$ctrl.getNextGeneration()">Next Generation</button>
</div>
